<h1 style = "color:#942222; text-align: center; font-weight: bold"> Universidad Castro Carazo </h1>
<h5 style = "color:#bd3737; text-align: center"> Analisis de Datos </h5>
<center> <img src = "carro.png"> </center>
</br> <!-- Esta linea crea un ENTER -->
<p style = "text-align: justify; font-family: Tahoma" > El análisis de datos es un proceso sistemático y metódico que implica la recopilación, organización, interpretación y visualización de conjuntos de datos con el objetivo de extraer información significativa y relevante. Este proceso utiliza herramientas, tecnologías y procesos para encontrar tendencias y resolver problemas mediante datos.</p>

<table>
  <tr>
    <td><img src = "informacion (1).png"></td>
    <td>Repositorio UCI del set de datos</td>
    <td><a href ="https://archive.ics.uci.edu/dataset/10/automobile\">Enlace al Sitio Web</a> </td>
  </tr>
  <tr>
    <td><img src = "circulo-de-color.png"></td>
    <td>Paleta de Colores</td>
    <td><a href ="https://paletadecolores.com.mx/paleta/942222/bd3737/d4cdad/98c3a1/25857d/">Enlace al Sitio Web</a></td>
  </tr>
</table>

<h2 Style="color:#98c3a1">1. Carga y estandarizacion de los set de datos</h2>

<ul>
    <li style="font-family: Tahoma"> Instalar e importar las librerias necesarias para trabajar</li>
    <li style="font-family: Tahoma"> Importar los archivos csv (Set de Datos)</li>
    <li style="font-family: Tahoma"> Revision de los set de datos (encabezados)</li>
    <li style="font-family: Tahoma"> Generar un unico set de datos</li>
</ul>   
<h4 Style="color:#25857d;font-family: Tahoma ">1.1) Instalar e importar las librerias necesarias para trabajar</h4>

In [9]:
import numpy as np #Esta libreria se usa para trabajar estructuras de datos (listas, tuplas, diccionario)
import pandas as pd #Esta libreria se usa para el manejo de datos (dataframe)
import matplotlib as mpl #Esta libreria se usa para crear graficos
import matplotlib.pyplot as plt #Esta libreria se usa para crear graficos
import seaborn as sn #Esta libreria se usa para crear graficos

<h4 Style="color:#25857d;font-family: Tahoma ">1.2) Importar Set De Datos</h4>

In [10]:
#Esta tupla es para definir los nombres de cada variables (columna)
cols=["symboling", "Normalized", "make", "fuel", "aspiration", "doors",
      "style", "wheels", "engine", "base", "length", "width", "heingt",
      "curb", "engineType", "Cylind3rs", "engine size", "system", "bor3", 
      "stroke","compression", "hOrsepower", "peak", "CITY", "Higway", "price"]

dfAutos1 =pd.read_csv("DataSet_Autos01.csv", names=cols)
dfAutos2 =pd.read_csv("DataSet_Autos02.csv", names=cols)

print("Se cargaron los datos a la memoria")

Se cargaron los datos a la memoria

<h4 Style="color:#25857d;font-family: Tahoma ">1.3) Revisar los Set De Datos</h4>

<table>
  <tr>
    <td><img src = "informacion (1).png"></td>
    <td>La primera columna de los set de datos se tiene que revisar para poder determinar si esta corresponde a un índide o una variable, para esto se usan los Meta Datos  </td>
  </tr>
  
</table>

In [15]:
dfAutos1.head(5)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
NaN,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
26.0,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
185.0,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
112.0,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
78.0,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689

In [14]:
dfAutos2.head(5)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
NaN,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
4.0,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
25.0,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,7609
31.0,1,101,honda,gas,std,two,hatchback,fwd,front,93.7,...,79,1bbl,2.91,3.07,10.1,60,5500,38,42,5399
157.0,0,91,toyota,diesel,std,four,sedan,fwd,front,95.7,...,110,idi,3.27,3.35,22.5,56,4500,34,36,7898

In [17]:
dfAutos1.tail(5)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
161.0,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,28,34,9258
54.0,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,10945
163.0,1,168,toyota,gas,std,two,hatchback,rwd,front,94.5,...,98,2bbl,3.19,3.03,9.0,70,4800,29,34,8238
26.0,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
140.0,0,102,subaru,gas,std,four,sedan,fwd,front,97.2,...,108,2bbl,3.62,2.64,9.5,82,4800,32,37,7126

In [18]:
dfAutos2.tail(5)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
36.0,0,106,honda,gas,std,two,hatchback,fwd,front,96.5,...,110,1bbl,3.15,3.58,9.0,86,5800,27,33,7895
59.0,0,115,mazda,gas,std,four,sedan,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8495
164.0,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,mpfi,3.24,3.08,9.4,112,6600,26,29,9298
3.0,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
112.0,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695

In [19]:
dfAutos1.shape

(201, 26)

In [20]:
dfAutos1.shape

(201, 26)

<table align="left">
    <tr>
        <td><img src = "informacion (1).png"></td>
        <td><p style ="text-align: justify; font-family: Tahoma" >Sanas prácticas para nombrar las variables: </p> 
            <ol>
                <li> Los nombres de variables no deben empezar con un numero </li> 
                <li> Los nombres de variables no pueden ser iguales a una palabra reservada(for, if print)</li>
                <li> Los nombres de variables no deben conterner espacios (engine size=> engineSize / engine-size) </li>
                <li> Los nombres de variables deben estar en el mismo idioma </li>
                <li> Los nombres de variables deben estar todas en Minuscula o Mayuscula </li>
        </ol>
    </td>
  </tr>
</table>

In [22]:
dfAutos1.columns #Para revisar que las variables se llamen igual

Index(['symboling', 'Normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylind3rs', 'engine size', 'system', 'bor3',
       'stroke', 'compression', 'hOrsepower', 'peak', 'CITY', 'Higway',
       'price'],
      dtype='object')

In [11]:
dfAutos2.columns

Index(['symboling', 'Normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylind3rs', 'engine size', 'system', 'bor3',
       'stroke', 'compression', 'hOrsepower', 'peak', 'CITY', 'Higway',
       'price'],
      dtype='object')

<h4 Style="color:#25857d;font-family: Tahoma ">1.4) Generar un unico Set De Datos</h4>

<table align="left">
    <tr>
        <td><img src = "informacion (1).png"></td>
        <td><p style ="text-align: justify; font-family: Tahoma" >Sanas prácticas para nombrar las variables: </p> 
            <ol>
                <li> Las variables deben llamarse igual </li> 
                <li> Contener igual cantidad de variables y estar en el mismo orden</li>
            </ol>
        </td>
      </tr>
</table>

In [12]:
unionArchivos = [dfAutos1,dfAutos2]#para unir dataframes
dfAutos=pd.concat(unionArchivos)
dfAutos.shape

(402, 26)

<h4 Style="color:#25857d;font-family: Tahoma ">1.5) Solucionar los primeros errores identificados</h4>
<table align="left">
    <tr>
        <td><img src = "informacion (1).png"></td>
        <td><ol>
                <li> La columna 1 - un indice (hay que eliminarla) y generar un nuevo indice </li> 
                <li> Los errores de las variables (nombres)</li>
            </ol>
        </td>
      </tr>
</table>

In [15]:
dfAutos.head(5)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
NaN,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
26.0,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
185.0,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
112.0,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
78.0,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689

In [16]:
dfAutos.reset_index(drop=True, inplace=True)
dfAutos

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
2,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
3,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
4,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,0,106,honda,gas,std,two,hatchback,fwd,front,96.5,...,110,1bbl,3.15,3.58,9.0,86,5800,27,33,7895
398,0,115,mazda,gas,std,four,sedan,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8495
399,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,mpfi,3.24,3.08,9.4,112,6600,26,29,9298
400,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
401,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695

In [17]:
dfAutos.columns

Index(['symboling', 'Normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylind3rs', 'engine size', 'system', 'bor3',
       'stroke', 'compression', 'hOrsepower', 'peak', 'CITY', 'Higway',
       'price'],
      dtype='object')

In [20]:
dfAutos.rename({'Normalized':'normalized', 'Cylind3rs':'cylinders', 'engine size':'engineSize','bor3':'bore', 'hOrsepower':'horsepower', 'CITY':'city', 'Higway':'higway'},axis=1, inplace=True)
dfAutos.columns
#para renombrar las columnas, axis=1 es para hacer el cambio sobre la columna

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'cylinders', 'engineSize', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'city', 'higway',
       'price'],
      dtype='object')

In [22]:
dfAutos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
2,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
3,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
4,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689