<h1 style = "color:#400403; text-align: center; font-weight: bold"> Universidad Castro Carazo </h1>
<h3 style = "color:#822d34; text-align: center">  Proyecto Analisis de Datos </h3>
<h5 style = "color:#d15a67; text-align: center"> Venta de bienes raices </h5>
<center> <img src = "acuerdo.png"> </center>
</br> <!-- Esta linea crea un ENTER -->
<p style = "text-align: justify; font-family: Tahoma" > Este proyecto pretende ayudar a la empresa PK2 a esclarecer algunas interrogantes y formar una estrategia de venta de propiedades en alguna ciudad. </p>

<table>
  <tr>
    <td><img src = "informacion (1).png"></td>
    <td>Repositorio del set de datos</td>
    <td><a href ="https://www.kaggle.com/datasets/utkarshx27/real-estate-sales-2001-2020-gl">Enlace al Sitio Web</a> </td>
  </tr>
  <tr>
    <td><img src = "circulo-de-color.png"></td>
    <td>Paleta de Colores</td>
    <td><a href ="https://paletadecolores.com.mx/paleta/d15a67/a9434e/822d34/5a161a/320000/">Enlace al Sitio Web</a></td>
  </tr>
</table>

<h3 Style="color:#5a161a">1. Carga y estandarizacion de los set de datos</h3>

In [16]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sn

In [19]:
dfventas=pd.read_csv("DataSet_ventas.csv",sep =";", low_memory=False)
dfventas.iloc[:, :15]
dfventas.fillna(value=0, inplace=True)
dfventas.head(5)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,...,Unnamed: 129,Unnamed: 130,Unnamed: 131,Unnamed: 132,Unnamed: 133,Unnamed: 134,Unnamed: 135,Unnamed: 136,Unnamed: 137,Unnamed: 138
0,2020348,2020,9/13/2021,Ansonia,230 WAKELEE AVE,150500,325000,0.463,Commercial,0,...,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0
1,20002,2020,10/2/2020,Ashford,390 TURNPIKE RD,253000,430000,0.5883,Residential,Single Family,...,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0
2,200212,2020,3/9/2021,Avon,5 CHESTNUT DRIVE,130400,179900,0.7248,Residential,Condo,...,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0
3,200243,2020,4/13/2021,Avon,111 NORTHINGTON DRIVE,619290,890000,0.6958,Residential,Single Family,...,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0
4,200377,2020,7/2/2021,Avon,70 FAR HILLS DRIVE,862330,1447500,0.5957,Residential,Single Family,...,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0

cols=["Serial Number","List Year",	"Date Recorded","Town"," Address","Assessed Value","Sale Amount","Sales Ratio","Property Type","Residential Type","Non Use Code","Assessor Remarks","OPM remarks","Location"]
if self.low_memory:
--> 234         chunks = self._reader.read_low_memory(nrows)
    235         # destructive to chunks
    236         data = _concatenate_chunks(chunks)